[submodule "third_party/pugixml"]
	path = third_party/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "third_party/minizip-ng"]
	path = third_party/minizip-ng
	url = https://github.com/zlib-ng/minizip-ng.git
[submodule "third_party/zlib-ng"]
	path = third_party/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng.git
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/fast_float"]
	path = third_party/fast_float
	url = https://github.com/fastfloat/fast_float.git
[submodule "third_party/doxygen"]
	path = third_party/doxygen
	url = https://github.com/doxygen/doxygen.git
[submodule "third_party/xsimd"]
	path = third_party/xsimd
	url = https://github.com/xtensor-stack/xsimd.git
